<div class="oocss-widget highlight large collections-edit">
    <div class="oocss-widget--head">
        <h2 class="oocss-widget--title">Modifier une collection</h2>
    </div>

    <div class="oocss-widget--content">
        {% include "MesClicsPostBundle:Widgets:collection-form.html.twig" with { collection_form: update_collection_form, submit_label: 'modifier' } %}
    </div>

</div>