<div class="oocss-form-fieldset oocss-vertical oocss-form embedded">
    {{ form_row(form.name, {'label': 'nom de la collection', 'widget_attr': {'class': 'oocss-full-container-width'}, 'help': 'choisir un nom unique pour la collection'}) }}
    {{ form_row(form.description, {'label': 'description', 'widget_attr': {'class': 'oocss-full-container-width'}, 'help': 'expliquer plus en détails ce à quoi cette collection correspond'}) }}
</div>