<div class="oocss-widget highlight  {{ widget_size|default('large') }}  posts-new">
    <div class="oocss-widget--head">
        <h2 class="oocss-widget--title">Ajouter une publication</h2>
    </div>

    <div class="oocss-widget--content">
        {% include "MesClicsPostBundle:Widgets:post-form.html.twig" with { submit_label: 'ajouter' } %}
    </div>
</div>